.row-header {
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;    
    padding:10px 0px 10px 0px;
    border-bottom: 1px ridge;
    min-height:50px;
}

.row-footer {
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 10px 0px 10px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
    
}

body {
    align:center;
    padding:50px 0px 50px 0px; /* To avoid navbar at the top and at the bottom from being hidden when user scrolls page */
    z-index:0
}

.navbar-inverse {
    background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .drop-down-menu > li > a,
.navbar-inverse .navbar-nav .open .drop-down-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .drop-down-menu > li > a:hover {
    color:#000000;
}

.login {
    padding: 10px 10px 10px 10px;
}

.navbar-nav .loggedin-user {
    padding-top:10px;
}

.navbar-nav .loggedin-username {
    padding-left: 5px;
    color:#eeeeee;
}

